*{margin:0;padding:0;box-sizing:border-box;}
ul{list-style:none;}
ul,ol,li{list-style:none;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
button{border: none;outline: none;}
a{margin:0;padding:0;border:0;text-decoration:none;outline: none; border: none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;}
del{text-decoration:line-through;}
input,select,textarea{vertical-align:middle;border:none;margin:0;padding:0;outline:none;}
input:focus,.select:focus,textarea:focus{outline:none;}
textarea, select, input {  -webkit-appearance: none;  -moz-appearance: none; -o-appearance: none;  -ms-appearance: none;  appearance: none;}
em{font-style:normal;}
.hidden{display:none;}
hr{line-height:1;height:1px;background:none;border-top:1px dashed #9F9F9F;border-bottom:1px dashed #fff;}
img{border:0;margin:0;padding:0;}
html{min-height:100%;overflow:auto;position:relative;z-index:1;background:#fff;font-family: 'Noto Serif SC', serif;}
a{text-decoration:none;cursor:pointer;}
.clearfix:before,.clearfix:after{display:table;content:"";/*ä¸ç”¨æœ‰å†…å®¹ä¹Ÿå¯ä»¥*/}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
h2.mr_4{margin-bottom:40px;}
input::-webkit-input-placeholder{color:#b57a65;}
input::-moz-placeholder{color:#b57a65;}
input:-moz-placeholder{color:#b57a65;}
input:-ms-input-placeholder{color:#b57a65;}
input[type=number]{-moz-appearance:textfield;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;}
body{position:relative;-webkit-text-size-adjust:none;color:#fff;font-size:24px;}
html,body{ -webkit-tap-highlight-color: transparent;width:100%;height:100%; }/*åŽ»é™¤appleè®¾å¤‡ç‚¹å‡»åº•è‰²*/
.hand{cursor:pointer;transition:all .6s;}
/* body a{-webkit-transition:all .3s;transition:all .3s;}*/
/* ::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background-color:rgba(0,0,0,0.3);width:10px;height:100%;padding:100px;}
::-webkit-scrollbar-thumb{background:#fff;height:20%;border-radius:10px;} */
/*弹窗*/
.masked{background: rgba(0,0,0,0.8);position: fixed; width:100%;height:100%;left:0;top:0; z-index:10; display:none;}
	/* .closed{position: absolute;top: 0rem;right: 0rem; z-index:6; cursor: pointer;} */
	.role_closed img,.icon_close img,.rule_closed img{transition: all 0.3s;width: 0.8rem; height: 0.8rem;cursor: pointer;}
	.role_closed img:hover,.icon_close img:hover,.rule_closed img:hover{transform:rotate(90deg);}
	.container{width: 12rem;height: 100%;position: relative;margin: 0 auto;padding-top: 1px;  }
	/*视频弹窗*/
	.pop_fixed {display:none;position:fixed;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.8);z-index:100;}
	.pop_fixed.active,.role_box.active {display:block;}
	.pop_video_cont {position:absolute;width:6.62rem;height:3.79rem;left:50%;top:50%;margin:-1.895rem 0 0 -3.31rem;background-image:url(../images/tc_video_bg.png);background-size:100% 100%;}
	.icon_close {position:absolute;width:0.8rem;height:0.8rem;left:50%;bottom: -0.9rem;margin-left: -0.4rem;}
	.icon_close img{width:0.8rem;height:0.8rem;}
	.pop_v_box,.pop_v_box video {width:6.46rem;height:3.67rem;overflow:hidden;}
	.pop_v_box{position: absolute;left:0.08rem;top: 0.08rem;}

	/*图片弹窗*/
	.role_box.active{ display: block;}
	.role_box {width:6.83rem;height:5.77rem;position:fixed;color:#fff;top:50%;left:50%;margin-left:-3.415rem;margin-top:-2.885rem;z-index:11;transition:all 0.3s;display:none;}
	.role_box .content{width:6.83rem;height:5.77rem;background:url(../images/tc_hd_bg.png) no-repeat;background-size:100% 100%;}
	.role_closed{position: absolute;bottom:-1rem;left:45%;}
	.role_closed img{width:0.8rem;height: 0.8rem;}
	.role_dabai{position: absolute;bottom:0.9rem;right:-0.7rem;}
	/* .role_dabai{position: absolute;bottom:0.9rem;right:-1.1rem;animation:xf 2s ease-in-out 1s infinite,xx 1s ease-in-out;} */
	.role_dabai img{width:2.8rem;height:3.67rem;}
	.role_box .content .note{width:4.2rem;height:5rem;margin:0 auto;position: relative;}
	.role_box .content .note .div{width:4.2rem;font-size:0.16rem;color:#363636;position: absolute;top:0.9rem;text-align: center;font-family: 'Noto Serif SC', serif;}
	.role_box .content .title1{font-size:0.42rem;margin-bottom: 0.3rem;}
	.role_box .content .title1 img{width:1.38rem;height: 0.59rem;}
	.role_box .content .title2{font-size:0.3rem;margin-bottom: 0.2rem;font-family: 'Noto Serif SC', serif;font-weight: bold;}
	.role_box .content .desc p{font-size:0.22rem;text-align: center;margin-bottom: 0.2rem;font-family: 'Noto Serif SC', serif;}
	.video_box .content .note p{font-size:0.3rem;color:#fff;padding:1rem;}	
	
	/*适龄提示弹窗*/
	.tc_rule{width:6.63rem;height:6.32rem;position:fixed;color:#fff;top:50%;left:50%;margin-left:-3.315rem;margin-top:-3.16rem;z-index:3;transition:all 0.3s;z-index: 11;}
	.tc_rule_main{width:6.63rem;height:6.32rem;background:url(../images/tc_bg_rule.png) no-repeat;background-size:100% 100%;padding-top:1.45rem}
	.rule_closed{position:absolute;width:0.8rem;height:0.8rem;left:50%;bottom: -0.9rem;margin-left: -0.4rem;}
	.rule_closed img{width:0.8rem;height: 0.8rem;}
	.tc_rule_content{font-size:0.24rem;color:#363636;text-align:center}
	.news_cbt_wrap{display:flex;font-size:0.24rem;color:#363636;margin:0 auto;height:4.3rem;width:5rem;margin-left: 1.1rem;}
	.news_cbt_wrap .note{flex:1;padding:0rem 0.47rem 0.1rem 0.17rem;overflow-y:auto}
	/* .news_cbt_wrap .biaoti{text-align:center;font-size:0.42rem;margin-bottom:0.48rem}
	.news_cbt_wrap .title{font-size:0.34rem;padding-bottom:0.1rem}
	.news_cbt_wrap .bottom{flex-shrink:1;height:1.24rem;display:flex;align-items:center;justify-content:flex-end;padding:0 0.26rem} */
	.note p{font-size:0.18rem;font-family:'微软雅黑';text-align:left;margin-bottom:0.1em;line-height:0.3rem}
	.note::-webkit-scrollbar{width:0.07rem;position:relative;}
	.note::-webkit-scrollbar-track{background-color:#789687;border-radius:2rem;width:0.2rem;border:1px solid #799888; border-radius: 0.1rem;}
	.note::-webkit-scrollbar-thumb{background:#d3e9dd;width:0.07rem;position:absolute;left:-0.04rem;border-radius: 0.1rem;}
	/*固定顶部栏*/
	.header{position:fixed;width:100%;height:0.99rem;top:0;left:0;right:0;z-index:10;background: url(../images/header_bg.jpg) ;background-size:100% 100%;}
	.header .part1_icon{width:0.96rem;height:0.96rem;position:absolute;top:0.14rem;left:0.16rem;}
	.header .desc{font-size:0.24rem;width:1.7rem;position:absolute;top:0.14rem;left:1.4rem;}
	.desc_title{font-weight: bold;font-size: 0.28rem;}
	.header .header_btn{position:absolute;top:50%;right:0.1rem;display:flex;justify-content:space-between;align-items:center;font-size:0;transform:translateY(-50%)}
	.part1_btn_official img{width:1.76rem;height: 0.99rem;}
	.part1_down_tips img{width:1.77rem;height: 0.99rem;}
	/*通用背景图*/
	/* .part {width:7.5rem;height:13.34rem;background-repeat:no-repeat;background-position:center center;background-size:cover;position:relative;min-height: 13.34rem;} */
	.slide1{background-image:url(../images/phone_bg1.jpg);width:100%;height:12.75rem;background-size: 100% 100%;}
	.slide2{background-image:url(../images/phone_bg2.jpg);width:100%;height:18.86rem;background-size:100% 100%;margin-top: -0.02rem;}
	.slide3{background-image:url(../images/phone_bg3.jpg);width:100%;height:11.11rem;background-size: 100% 100%;margin-top: -0.02rem;}
	.slide4{background-image:url(../images/phone_bg4.jpg);width:100%;height:13.21rem;background-size: 100% 100%;margin-top: -0.02rem;}
	.slide5{background-image:url(../images/phone_bg5.jpg);width:100%;height:10.53rem;background-size: 100% 100%; position: relative;margin-top: -0.02rem;}
	.main_show{width:100%;position:relative;min-height:12.75rem;margin:0 auto;}
	.main_show1{width:100%;position:relative;min-height:10.53rem;margin:0 auto;}
	/* .inner{position:relative;height:calc(100vh);width:7.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;align-items:center;justify-content:center;box-sizing:border-box}
	.mainShow1{width:7.5rem;display:flex;z-index:10;justify-content:center;align-items:center}
	.inner .content{position:relative;top:0rem;display:flex;align-items:center;flex-direction:column;width:7.5rem} */
	/* .bg-video{width:7.5rem;height:13.34rem;display:block;object-fit:cover;position:absolute;top:0;left:0;} */
	/* .bg-video{width:100%;height:100vh;display:block;object-fit:cover;position:absolute;top:0;left:0;} */
	/* .swiper-fullscreen{width:100%;height:100%} */
	/*  */
	/*part1*/	
		 /*音频和官网以及适龄提示*/	
	.part1_audio {width:0.85rem;height:0.85rem;position:absolute;top:1.2rem;right:0rem;z-index: 2; }
	.part1_audio .btn-bgm {width:0.85rem;height:0.85rem;background:url(../images/part1_bgm_off.png);background-size:100% 100%; display: block;}
	.part1_audio .play {width:0.85rem;height:0.85rem;background:url(../images/part1_bgm_on.png);background-size:100% 100%;display: block;}
	.part1_logo{z-index:2;width:2.03rem;height:1.52rem;position: absolute; top:1rem; z-index: 5;}
	.part1_logo img{width:2.03rem;height:1.52rem;}
	.slo{background: url(../images/part1_sologen.png) no-repeat;width:6.91rem;height: 3.2rem;position: absolute;left:50%;margin-left: -3.455rem;top: 7rem;background-size:100% 100%;z-index: 2;}
	.video_play{width:1.3rem;height:1.3rem;position: absolute;left:35%; margin-left:-0.65rem;top: 6.2rem;z-index: 2;}
	.video_paly_one{width:1.3rem;height:1.3rem;overflow:hidden;cursor:pointer;z-index:2;background:url(../images/part1_video_ico_img.png) no-repeat center center;background-size:100% 100%}
	.video_paly_one:hover{width:1.3rem;height:1.3rem;overflow:hidden;cursor:pointer;z-index:2;background:url(../images/part1_video_ico_img.png) no-repeat center center;background-size:100% 100%}
	.video_paly_one span{display:block;width:1.3rem;height:1.3rem;background:url(../images/part1_video_ico_bg.png) no-repeat center center;background-size:100% 100%;-webkit-animation:circle 5s infinite linear}
	.part_box_suspend{position:absolute;left:0rem;top:5rem;-webkit-animation:vrSpan 3s linear infinite 300ms 0 ease;-moz-animation:vrSpan 3s linear infinite 300ms 0 ease;-ms-animation:vrSpan 3s linear infinite 300ms 0 ease;animation:vrSpan 3s linear infinite 300ms 0 ease;-moz-animation:vrSpan 3s linear infinite;-webkit-animation:vrSpan 3s linear infinite;-o-animation:vrSpan 3s linear infinite;-ms-animation:vrSpan 3s linear infinite;animation:vrSpan 3s linear infinite}
	.part_box_suspend img{width:3.01rem;height: 2.74rem; cursor: pointer;}
	.part1_age_tip{position: absolute;left:0.36rem;bottom:1.3rem; z-index: 2;}
	.part1_age_tip img{width: 0.71rem;height: auto;}		
	.part1_down{bottom: 1.3rem; position:absolute;left:50%;width: 2.93rem; margin-left:-1.465rem; z-index: 2;}
	.part1_down img{width:2.93rem;height:0.85rem;}
	/*part2*/		
	.part1_top_bg{position: absolute;left:0;top:9.2rem;height:8.56rem; z-index: 1;width:100%; background: url(../images/part2_top_bg.png) no-repeat;background-size:100% 100%;}  
	.part1_top_bg img{width:7.5rem;height:8.56rem;}
	.part2_title1{position: absolute;top:-0.06rem;left:50%;transform: translateX(-50%);z-index: 3;}
	.part2_title1 img{width: 7.5rem;height: 2.23rem;}
	.part2_container{width:7.5rem;height:10.05rem;position:relative;margin:0 auto;padding-top:1px;z-index:2}
	.jiangli{width:7.5rem;height:10.05rem;position:relative;margin:0 auto;padding-top:1px;z-index:2}
	.box_01{position:absolute;left:0.42rem;top:2.4rem;-webkit-animation:upDown 6s cubic-bezier(.18,0,.82,.99) infinite;-moz-animation:upDown 6s cubic-bezier(.18,0,.82,.99) infinite;-ms-animation:upDown 6s cubic-bezier(.18,0,.82,.99) infinite;animation:upDown 6s cubic-bezier(.18,0,.82,.99) infinite}
	.box_02{position:absolute;left:4.1rem;top:3.84rem;-webkit-animation:upDown 5.6s cubic-bezier(.18,0,.82,.99) infinite;-moz-animation:upDown 5.6s cubic-bezier(.18,0,.82,.99) infinite;-ms-animation:upDown 5.6s cubic-bezier(.18,0,.82,.99) infinite;animation:upDown 5.6s cubic-bezier(.18,0,.82,.99) infinite}
	.box_03{position:absolute;left:1rem;top:5.2rem;-webkit-animation:upDown 7s cubic-bezier(.18,0,.82,.99) infinite;-moz-animation:upDown 7s cubic-bezier(.18,0,.82,.99) infinite;-ms-animation:upDown 7s cubic-bezier(.18,0,.82,.99) infinite;animation:upDown 7s cubic-bezier(.18,0,.82,.99) infinite}
	.box_04{position:absolute;left:4.2rem;top:6.74rem;-webkit-animation:upDown 6.2s cubic-bezier(.18,0,.82,.99) infinite;-moz-animation:upDown 6.2s cubic-bezier(.18,0,.82,.99) infinite;-ms-animation:upDown 6.2s cubic-bezier(.18,0,.82,.99) infinite;animation:upDown 6.2s cubic-bezier(.18,0,.82,.99) infinite}
	.box_05{position:absolute;left:0.5rem;top:8.14rem;-webkit-animation:upDown 6.8s cubic-bezier(.18,0,.82,.99) infinite;-moz-animation:upDown 6.8s cubic-bezier(.18,0,.82,.99) infinite;-ms-animation:upDown 6.8s cubic-bezier(.18,0,.82,.99) infinite;animation:upDown 6.8s cubic-bezier(.18,0,.82,.99) infinite}
	.box_06{position:absolute;left:3.94rem;top:9.58rem;-webkit-animation:upDown 6s cubic-bezier(.18,0,.82,.99) infinite;-moz-animation:upDown 6s cubic-bezier(.18,0,.82,.99) infinite;-ms-animation:upDown 6s cubic-bezier(.18,0,.82,.99) infinite;animation:upDown 6s cubic-bezier(.18,0,.82,.99) infinite}
	.box_07{position:absolute;left:0.8rem;top:11.26rem;-webkit-animation:upDown 5.6s cubic-bezier(.18,0,.82,.99) infinite;-moz-animation:upDown 5.6scubic-bezier(.18,0,.82,.99) infinite;-ms-animation:upDown 5.6s cubic-bezier(.18,0,.82,.99) infinite;animation:upDown 5.6s cubic-bezier(.18,0,.82,.99) infinite}
	.box_08{position:absolute;left:4.42rem;top:12.58rem;-webkit-animation:upDown 6.8s cubic-bezier(.18,0,.82,.99) infinite;-moz-animation:upDown 6.8s cubic-bezier(.18,0,.82,.99) infinite;-ms-animation:upDown 6.8s cubic-bezier(.18,0,.82,.99) infinite;animation:upDown 6.8s cubic-bezier(.18,0,.82,.99) infinite}
	.box_09{position:absolute;left:0.5rem;top:14rem;-webkit-animation:upDown 7s cubic-bezier(.18,0,.82,.99) infinite;-moz-animation:upDown 7s cubic-bezier(.18,0,.82,.99) infinite;-ms-animation:upDown 7s cubic-bezier(.18,0,.82,.99) infinite;animation:upDown 7s cubic-bezier(.18,0,.82,.99) infinite}
	.box_img:hover{filter:drop-shadow(10px 20px 10px #5fbf86);transition:all 0.3s}
	.box_01 img{width:3.1rem;height:2.5rem;cursor:pointer}
	.box_02 img{width:2.65rem;height:2.5rem;cursor:pointer}
	.box_03 img{width:2.8rem;height:2.5rem;cursor:pointer}
	.box_04 img{width:2.93rem;height:2.5rem;cursor:pointer}
	.box_05 img{width:2.66rem;height:2.5rem;cursor:pointer}
	.box_06 img{width:2.66rem;height:2.5rem;cursor:pointer}
	.box_07 img{width:2.85rem;height:2.5rem;cursor:pointer}
	.box_08 img{width:2.48rem;height:2.5rem;cursor:pointer}
	.box_09 img{width:2.86rem;height:2.6rem;cursor:pointer}
	/*part3*/
	.part3_container {width: 7.5rem;height:11.87rem; position: relative;margin: 0 auto;padding-top: 1px;} 
	.video_banner {width:7.5rem;height:4.51rem; position:absolute;top:1.2rem;border-radius:0.1rem;left: 50%;margin-left: -3.75rem;}

	.video_banner img {border-radius:0.1rem;}
	.part3_cd_bg{width:100%;height:1.67rem;position:absolute;left:0rem;bottom:4.5rem; z-index:1;pointer-events:none;background:url(../images/part3_cd_bg.png);background-size:100% 100%;}
	/* .part3_cd_bg img{width:7.5rem;height:1.67rem;} */
	.video_banner .swiper-slide img{ width:7.5rem;height:4.51rem; z-index:1;}
    .part2_pagination{height:0.29rem;top:4.5rem;z-index:1;left:50%;width:5rem;z-index:2;margin-left: -2.5rem;}
	.part2_pagination .swiper-pagination-bullet{margin:0 0.1rem;background:url(../images/part4_banner_patgition.png);background-size:100% 100%;position:relative;width:0.29rem;height:0.29rem;opacity:1}
	.part2_pagination .swiper-pagination-bullet-active {background:url(../images/part4_banner_patgition_hover.png) no-repeat;background-size:100% 100%;width:0.29rem;height:0.29rem;opacity:1}
	.video_banner .swiper-button-prev {left: 1.86rem; margin-top: 0rem;    position: absolute; top: 5.2rem;	width:0.61rem;	height:0.56rem;background: url(../images/part4_banner_left.png) no-repeat;	background-position: 0 0;	background-size:100% 100%; transition: all 0.3s;}
	.video_banner .swiper-button-next {right: 1.86rem; margin-top: 0rem;   position: absolute;  top:5.2rem;width:0.61rem;	height:0.56rem;background: url(../images/part4_banner_right.png) no-repeat;	background-position: 0 0;	background-size:100% 100%;transition: all 0.3s;}
	.part4_banner_text1{width:2.28rem;height:0.5rem;position:absolute;left:2.6rem;z-index:2;pointer-events:none; top: 5.2rem;}
	.part4_banner_text1 img{width:2.28rem;height:0.5rem;}
	.video_banner1 .video1 span{width:1.2rem;height:1.2rem;position:absolute;top:60%;left:37%;transform:translate(-50%,-50%);display: block;}
	.video_banner1 .video1 span::before{content:'';width:1.2rem;height:1.2rem;background:url(../images/part3_video_play_btn.png) no-repeat center;background-size:100% 100%;z-index:1;transition:all .3s;position: absolute;left:0;top: 0;}
	.video_banner1 .video1 span:hover::before{transform: scale(1.2);width:1.2rem;height:1.2rem;z-index:1;transition:all .3s;position: absolute;left:0;top: 0;}
	/*part4*/
	.part4_rabbit_bg{width:100%;height:2.54rem;position:absolute;left:0rem;top:6.15rem; z-index:3;pointer-events:none;background:url(../images/part4_rabbit_bg1.png);background-size:100% 100%;}
	/* .part4_rabbit_bg img{width:7.5rem;;height:5.24rem;} */

	.part4_kuang_bg{width:7.5rem;height:5.24rem;position:absolute;left:50%;margin-left:-3.75rem;top:3.35rem; z-index:2;pointer-events:none;}
	.part4_kuang_bg img{width:7.5rem;;height:5.24rem;} 


	.part4_rabbit{width:1.7rem;height:2.7rem;position:absolute;left:50%;margin-left:-3.75rem;top:7rem; z-index:4;pointer-events:none; }
	.part4_rabbit img{width:1.7rem;height:2.7rem;}
	.part4_banner_text{width:2.28rem;height:0.5rem;position:absolute;left:2.6rem;z-index:2; top: 8.5rem;}
	.part4_banner_text img{width:2.28rem;height:0.5rem;}
	.part_new_banner  {width:7.5rem;height:4.51rem; position:absolute;left:50%;top:0rem;border-radius:0.1rem; margin-left: -3.75rem;}


	.part_new_banner_swiper{width:6.86rem;height:3.86rem;position:absolute;left:50%;top:3.6rem;margin-left:-3.43rem; }
	.part_new_banner .swiper-slide img{width:6.86rem;height:3.86rem;}
	.part_new_banner  .part4_pagination{height:0.29rem;top:7.7rem;z-index:10;left:0;width:100%;}
	.part4_pagination .swiper-pagination-bullet{margin:0 0.15rem;background:url(../images/part4_banner_patgition.png);background-size:100% 100%;position:relative;width:0.29rem;height:0.29rem;opacity:1}
	.part4_pagination .swiper-pagination-bullet-active {background:url(../images/part4_banner_patgition_hover.png) no-repeat;background-size:100% 100%;width:0.29rem;height:0.29rem;opacity:1}
	.part_new_banner .swiper-button-prev {left: 1.86rem;margin-top: 0rem;   position: absolute; top: 8.5rem;	width:0.61rem;	height:0.56rem;background: url(../images/part4_banner_left.png) no-repeat;	background-position: 0 0;	background-size:100% 100%; transition: all 0.3s;}
	.part_new_banner .swiper-button-next {right: 1.86rem;margin-top: 0rem;   position: absolute;  top:8.5rem;;width:0.61rem;	height:0.56rem;background: url(../images/part4_banner_right.png) no-repeat;	background-position: 0 0;	background-size:100% 100%;transition: all 0.3s;}
	
	/* .part_new_banner .swiper-button-prev:hover {	left: 0;    position: absolute; top: 76%;	width:1.42rem;	height: 1.14rem;background: url(../images/part4_banner_left_hover.png) no-repeat;	background-position: 0 0;	background-size:100% 100%;}
	.part_new_banner .swiper-button-next:hover {	right:0;   position: absolute;  top:76%;	width:1.42rem;	height: 1.14rem;background: url(../images/part4_banner_right_hover.png) no-repeat;	background-position: 0 0;	background-size:100% 100%;}
	 */
	/*part5*/
	.part4_partner{width:100%;margin:0 auto;display:flex;justify-content:center;position:absolute;top:3.4rem;left: 0rem;}
	.icon_img {width:1.14rem;height:1.14rem; cursor: pointer;margin-right: 0.2rem;} 
	.part_wx_tip,.part_qq_tip{width:1.14rem;height:1.14rem;position:relative;} 
	.part_wx_tip{margin-right: 0.2rem;}
	.part_wx_code {display: none;width:2rem;height: 2.48rem;position:absolute;left:-0.4rem;top:-2.5rem;background-image:url(../images/part5_weixin-bg.png);background-size:100% 100%;}
	.ewm_wx{width:2rem;height: 2.48rem;display:flex;	justify-content: center;align-items: center;}
	.part_wx_code img {width:1.28rem;height: 1.28rem;margin-top: 0.3rem;}
	.part_qq_code {width: 3.18rem;height: 2.87rem;position:absolute;right:-0.25rem;top:-2.9rem; padding-top:0.36rem;display: none;background-image:url(../images/part5_qq_pop_bg.png);background-size:100% 100%;}
	/* .part_qq_code img {width: 3.18rem;height: 2.87rem;} */
	.margin_t{padding-top: 0.48rem;margin-bottom: 0.2rem;}
	.group-item{display:flex;width:2.9rem;justify-content:center;align-items:center;height:0.8rem;color:#fff;font-size:.18rem;margin:0 auto}
	.group-item .txt{width:1.46rem;box-sizing:border-box;padding:.14rem .14rem;display:flex;flex-direction:column;justify-content:center;align-items:center}
	.btn_qqgroup{width:1.44rem;height:0.45rem;background:url(../images/part5_qq_copy.png);background-size:100% 100%;display: block;cursor: pointer;}
	.firefly{width:4px;height:4px;position:absolute;background-color:#ecc45e;box-shadow:0px 0px 17px 2px wheat;border-radius:50%;background:linear-gradient(90deg,rgba(255,255,0,1) 0%,rgba(255,235,59,1) 100%)}
	.yhc{width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden}
	.container1{overflow:hidden;margin:0 auto;height:10rem;position:relative}
	.group_line{width:2.9rem;margin:0 auto;text-align: center; }
	.group_line img{width:2.76rem;height: 0.17rem;}
	/*footer*/ 
	.footer{width:100%; min-height:6rem;background:#000000;z-index:2;font-family:"微软雅黑";}
	.footer_container{text-align: center; width:7.5rem; margin:0 auto;}
	.footer_tip{ padding:0.65rem 0.35rem;color:#c0c0c0; text-align: center; }
	.footer_tip_text{margin-bottom: 0.1rem;font-size: 0.2rem;line-height: 0.46rem;}
	ul.footer_tip_link{display: flex; align-items: center; justify-content: center;margin-bottom: 0.2rem;}
	.footer_tip_link li{height:0.3rem;line-height: 0.3rem; padding-left: 0.3rem;margin-bottom: 0.1rem;}
	.footer_tip_link li a{color:#fafafa;font-size: 0.2rem;    border-bottom: 1px solid #fff;padding-bottom: 0.02rem}
	.footer_tip_btn{width: 1.98rem;height: 0.4rem;margin:0 auto;margin-top: 0.3rem;margin-bottom: 0.3rem;font-size: 0.24rem;}
	.footer_tip_btn a{width: 1.98rem;height: 0.4rem;background:#373737;border-radius: 0.1rem;color:#c0c0c0; display: block; text-align: center;line-height: 0.4rem;} 
	.footer_tip_info{color:#979797;font-size: 0.18rem;}
	.footer_tip_info a{color:#979797;}
	.footer_tip_info a:hover{color:#ff6600;}
	.footer_tip_info p{line-height: 0.4rem;}
	/*返回顶部*/ 
	#gotop {display: none;position: fixed;right: 0.2rem;bottom:0.2rem;padding: 0.2rem;font-size: 0.2rem;background: #777;color: white;cursor: pointer;	z-index:10;}	

	/*弹窗等比放大*/
	.scale-up-center {-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;}
	@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(0.5);transform:scale(0.5)}
	100%{-webkit-transform:scale(1);transform:scale(1)}
	}@keyframes scale-up-center{0%{-webkit-transform:scale(0.5);transform:scale(0.5)}
	100%{-webkit-transform:scale(1);transform:scale(1)}}

	@keyframes circleAn {100% {transform:rotate(720deg);}}
	/*第二屏幕四个选择图标*/
	@-webkit-keyframes upDown{0%,100%{transform:translateY(3%);-webkit-transform:translateY(3%)}
	55%{transform:translateY(-3%);-webkit-transform:translateY(-3%)}
	}@-moz-keyframes upDown{0%,100%{transform:translateY(3%);-webkit-transform:translateY(3%)}
	55%{transform:translateY(-3%);-webkit-transform:translateY(-3%)}
	}@-ms-keyframes upDown{0%,100%{transform:translateY(3%);-webkit-transform:translateY(3%)}
	55%{transform:translateY(-3%);-webkit-transform:translateY(-3%)}
	}@keyframes upDown{0%,100%{transform:translateY(3%);-webkit-transform:translateY(3%)}
	55%{transform:translateY(-3%);-webkit-transform:translateY(-3%)}
	}
	 /*公测礼包漂浮*/
	 @-webkit-keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}@-moz-keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}@-ms-keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}
	 @-o-keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}
	 @keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}
	 50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}
	 100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}
	 
	 @-webkit-keyframes magnify{0%{-webkit-transform:scale(0.96)}
	 100%{-webkit-transform:scale(1)}
	 }@-moz-keyframes magnify{0%{-moz-transform:scale(1)}
	 100%{-moz-transform:scale(0.96)}
	 }@keyframes magnify{0%{transform:scale(1)}
	 100%{transform:scale(0.96)}
	 }@keyframes arrowAn{0%,100%{opacity:0;transform:translateY(0.1rem)}
	 50%{opacity:1;transform:translateY(0)}
	 }@keyframes circleAn{100%{transform:rotate(720deg)}
	 }

	@-webkit-keyframes circle{0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
	}@keyframes circle{0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
	}



	 .footer_notice_btn img:hover,.part1_btn img:hover, .register_yy_btn img:hover,.register_law_tip_btn  img:hover, .part3_regitster img:hover,.part4_hd_btn img:hover{transform: scale(1.1, 1.1);filter: drop-shadow(0px 0px 0.1rem #000);
		-ms-transform:scale(1.1, 1.1); 	/* IE 9 */
		-moz-transform:scale(1.1, 1.1); 	/* Firefox */
		-webkit-transform:scale(1.1, 1.1); /* Safari Ã¥â€™Å’ Chrome */
		-o-transform:scale(1.1, 1.1); 	/* Opera */}
	/*ç²¾çµcss3*/
	@keyframes xx{0%{transform:translateX(50px) translateY(0) scale(0.2);opacity:0.2}
	100%{transform:translateX(-30px) translateY(-10px) scale(1);opacity:1}
	}
	@keyframes xf{0%{transform:translateY(-10px) translateX(-30px);}
	50%{transform:translateY(10px) translateX(-10px);}
	100%{transform:translateY(-10px) translateX(-30px);}
	}
	




