/* main*/
/* table{border-collapse:collapse;border-spacing:0;table-layout:fixed; } */
*{margin:0;padding:0;box-sizing: border-box;}
*{word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;-ms-hyphens: auto; hyphens: auto;}/*英文过长换行并添加连接符*/
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; text-size-adjust: 100%;font-size:80px;} /*避免字体大小被重置*/
a{text-decoration: none;outline:none;color:inherit}
a:hover,a:active,a:focus{ background:none;text-decoration: none;color:#fff;}
p,dt,ul,dl{margin:0; list-style:none;}
label{ font-weight:normal}
select,input,button{border:none;outline: none;}
textarea,select,input{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none}
input:focus{background-color:transparent}
img{border:0;vertical-align: middle;display: block;}
html,body{ -webkit-tap-highlight-color: transparent;width:100%;height:100%; overflow: hidden; }/*去除apple设备点击底色*/
body{color:#333; line-height:1.6;margin:0 auto;z-index: -1;  font-family:"黑体";}
/* body{ background:url(../images/bg.jpg) no-repeat center center #fff;background-size: cover;color:#333; line-height:1.6;margin:0 auto;} */
a{color:#333; }
::-webkit-scrollbar {width: 0.1rem;}
::-webkit-scrollbar-track {background-color:rgba(0,0,0,0.3);width:0.1rem;height:100%;padding:1rem;}
::-webkit-scrollbar-thumb {background: #fff;height:20%;border-radius:0.1rem;}
/*清除浮动*/
.clearfix:before,.clearfix:after{content: " ";display: table;}
.clearfix:after{clear: both;}

input:-webkit-autofill{box-shadow:0 0 0 1000px white inset !important}
input:-internal-autofill-previewed,input:-internal-autofill-selected{-webkit-text-fill-color:#333 !important;transition:background-color 5000s ease-in-out 0s !important}

/*常用*/
.relative{position: relative;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;} /*一行超出省略*/
.towLine{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;overflow: hidden;}/*超出两行省略*/
.touchscroll{-webkit-overflow-scrolling: touch;} /*弹性滚动*/
.preLine{ white-space: pre-line;} /*换行符换行*/
.hand{cursor: pointer;}
.valign{display: flex;align-items: center;}
.valign-top{display: flex;align-items: flex-start;}
.valign-center{display: flex;align-items: center;justify-content: center;}
.valign-between{display: flex;align-items: center;justify-content: space-between;}
.column{flex-direction: column;}
input:focus{background: none;}
.swiper-fullscreen{width: 100%;height: 100%;}
.swiper-fullscreen .swiper-slide{transform:translate3d(0,0,0);overflow:hidden;width: 100%;height: 100%;}
.page01_bg,.part3_fengling,.part5_goddess_chest,.part_banner_img{transform:translate3d(0,0,0);width: 100%;height: 100%;}
.masked{background: rgba(0,0,0,0.8);position: fixed; width:100%;height:100%;left:0;top:0; z-index:2;}
.closed{position: absolute;top:0.6rem;right:0.5rem;}
.closed img{transition: all 0.3s;width: 0.34rem; height: 0.34rem ;}
.closed img:hover{transform:rotate(90deg);}
/*请选择预约方式*/
.tc_way{width:5rem;height:4.43rem;position:fixed;color:#fff;top:50%;left:50%;margin-left:-2.5rem;margin-top:-2.215rem;z-index:3;transition:all 0.3s}
.tc_way_main{width:5rem;height:4.43rem;background:url(../images/tc_bg_way.png)  no-repeat;background-size:100% 100%;padding-top:1.2rem}
.tc_way_content{width:3.86rem;position:absolute;left:50%;transform:translateX(-50%);font-size:0.17rem;text-align:center;color:#fff}
.ios_tab{height:0.3rem;display:flex;align-items:center;justify-content:center}
.ios_tab  lable.one{display:block;height:0.3rem;display:flex;align-content:center}
.ios_tab  lable.gg{margin-right:0.3rem}
.ios_tab  lable.ios{width:40%}
.ios_tab img{width:auto;height:0.3rem}
input[type='radio']{width:0.16rem;cursor:pointer;height:0.15rem;vertical-align:middle;opacity:0;color:#fff;position:absolute;top:0;left:0}
.input_style{width:0.16rem;position:relative;height:0.15rem;display:inline-block;color:#fff;margin-right:0.1rem;margin-top:0.07rem}
.radio_bg{background:url(../images/part1_login_check.png)   no-repeat;background-size:100% 100%}
.radio_bg_check{background:url(../images/part1_login_check_hover.png) no-repeat;background-size:100% 100%}
input[type="checkbox"]{width:0.16rem;cursor:pointer;height:0.16rem;background:url(../images/part1_login_check.png) no-repeat;background-size:100% 100%}
input[type="checkbox"]:checked{background:url(../images/part1_login_check.png) no-repeat;background-size:100% 100%}
.way_input_phone{width:2.66rem;height:0.42rem;background:url(../images/tc_bg_way_input_bg.png)  no-repeat;background-size:100% 100%;margin:0 auto;margin-bottom:0.15rem}
.way_input_phone_content{width:2.2rem;height:0.41rem;line-height:0.41rem;background:none;font-size:0.16em;color:#fff;border:none;overflow:hidden;text-align:center}
.way_input,.way_btn,.way_other{display:flex;justify-content:center}
.way_input_code{width:1.46rem;height:0.41rem;background:url(../images/tc_bg_way_code_bg.png)  no-repeat;background-size:100% 100%;line-height:0.41rem}
.way_input_phone_content_code{width:1.46rem;height:0.41rem;line-height:0.41rem;background:none;font-size:0.16rem;color:#fff;border:none;overflow:hidden;text-align:center}
.get_code{width:1.2rem;height:0.41rem;background:url(../images/tc_bg_way_getcode_bg.png)  no-repeat;background-size:100% 100%;line-height:0.41rem;font-family:"思源宋体";font-weight: bold;}
.way_btn img{width:1.97rem;height:0.76rem}
.way_btn{margin-top:0.1rem}
.way_line{border:1px solid #c7d4d8;width:3.86rem;margin-bottom:0.15rem;margin-top:0.2rem}
.way_other img{margin-right:0.2rem;width:0.34rem;height:0.34rem}
.way_other{color:#4a808f}
.way_select{width: 2.66rem;height: 0.34rem;margin:0 auto;margin-bottom: 0.15rem;color: #4f8190;font-family:"微软雅黑";font-size: 0.18rem;}
/* 
.area {float: left;width:2.66rem;height: 0.41rem;background: url(../images/tc_way_row.png) no-repeat;background-size: 100% 100%;border: none;outline: medium;appearance: none;-moz-appearance: none;
-webkit-appearance: none;-ms-appearance: none;font-size: 0.17rem;text-align: center;color: #fff;display: flex; justify-content: center; text-align-last: center;
background-position:-0.2rem 0;}
.area option{display:inline-block;text-align: center; text-align-last: center;background:#83979d;border-radius: 0.05rem; } */
/*活动规则*/
.tc_rule{width:5rem;height:4.44rem;position:fixed;color:#fff;top:50%;left:50%;margin-left:-2.5rem;margin-top:-2.22rem;z-index:3;transition:all 0.3s}
.tc_rule_main{width:5rem;height:4.44rem;background:url(../images/tc_bg_rule.png)  no-repeat;background-size:100% 100%;padding-top:1.25rem}
.tc_rule_content{font-size:0.18rem;color:#4a808f;text-align:center}
.news_cbt_wrap{display:flex;font-size:0.18rem;color:#4a808f;margin:0 auto;height:3rem;width:3.8rem}
.news_cbt_wrap .note{flex:1;padding:0rem 0.17rem 0.1rem 0.17rem;overflow-y:auto}
.news_cbt_wrap .biaoti{text-align:center;font-size:0.42rem;margin-bottom:0.48rem}
.news_cbt_wrap .title{font-size:0.34rem;padding-bottom:0.1rem}
.news_cbt_wrap .bottom{flex-shrink:1;height:1.24rem;display:flex;align-items:center;justify-content:flex-end;padding:0 0.26rem}
.note p{font-size:0.18rem;font-family:'微软雅黑';text-align: left; margin-bottom: 0.1em; line-height: 0.3rem;}
.note::-webkit-scrollbar{width:0.07rem;position:relative}
.note::-webkit-scrollbar-track{background-color:#a6b9bf;border-radius:2rem;width:0.2rem}
.note::-webkit-scrollbar-thumb{background:#2fb1f7;border:1px solid #2fb1f7;width:0.07rem;position:absolute;left:-0.04rem}
   /* .note  h3{font-size: 0.34rem;margin-bottom: 0.3rem;  margin-top: 0.3rem;font-family:'微软雅黑';}
   .note  h5{color:#997037;margin-top: 0.3rem; margin-bottom: 0.3rem;font-family:'微软雅黑';}
   .note h6{font-size: 0.2rem; font-weight: bold;font-family:'微软雅黑';}
   .note h6 span{color:#a72716;} */
/*恭喜成功预约*/
.tc_yy_sucess1{width:5rem; height:4.62rem;position: fixed;color:#fff;top:50%;left:50%;margin-left:-2.5rem;margin-top:-2.31rem;z-index:3; transition: all 0.3s;}
.tc_yy_sucess1_main{width:5rem; height:4.62rem;background:url(../images/tc_yuyue_cg.png)  no-repeat;background-size:100% 100%;padding-top: 1.35rem;}
.tc_yy_sucess_content{font-size: 0.18rem;color: #4a808f;text-align: center;}
.yy_title{font-size: 0.18rem; font-weight: 800;margin-bottom: 0.6rem;}
.input2{   width: 3.43rem; height:0.52rem;background:url(../images/tc_sucess_yy_copy_bg.png)  no-repeat;background-size:100% 100%; display: flex; justify-content: center; align-items: center;margin:0 auto;margin-top: 0.2rem;margin-bottom: 0.2rem;}
.input2 p.text{display: table-cell;vertical-align:middle;resize:none;font-size:0.16rem; color:#4873da;width: 2rem; border:none; overflow: hidden;	word-break: break-all;background:none;height: 0.52rem;}
.input2 p.img{ display: flex;  justify-content: center; align-items: center; width: 0.96rem; height:0.33rem;background:url(../images/tc_yuyue_cg_copy.png)  no-repeat;background-size:100% 100%;color:#fff;}
.input2 p.img img{width:1.7rem;height:0.62rem;}	
/*女神宝箱*/
.tc_goddess_box{width:5rem; height:4.83rem;position: fixed;color:#fff;top:50%;left:50%;margin-left:-2.5rem;margin-top:-2.415rem;z-index:3; transition: all 0.3s;}
.tc_goddess_box_main{width:5rem; height:4.83rem;background:url(../images/tc_goddess_box_bg.png)  no-repeat;background-size:100% 100%;padding-top: 1.35rem;}
.tc_goddess_box_content{font-size: 0.18rem;color: #4a808f;text-align: center;}
.blessing{width:3.26rem; height:0.42rem;background:url(../images/tc_bg_bless_yu.png)  no-repeat;background-size:100% 100%;color:#fff;line-height: 0.42rem;display: flex; justify-content: center;
margin:0 auto;margin-bottom: 0.15rem;}
div.tc_choose_btn{display: flex; justify-content: center; margin-bottom: 0.1rem; line-height: 0.41rem;}
.goddess_tip{font-size: 0.14rem; color: #c24563;}
.bless_input_code {width: 3.1rem;height: 0.41rem;background:url(../images/tc_goddess_box_code.png)  no-repeat;background-size:100% 100%;line-height:0.41rem;}
.bless_input_phone_content_code{width:2.5rem; height:0.41rem; line-height:0.41rem; background:none; font-size:0.16rem; color:#607b84;  border:none; overflow:hidden; text-align:center;}
.one{ animation-delay:8s;} 

.transtion_center{ width:100%;height:100%;position: absolute; bottom: 0;left: 0;z-index: 10; pointer-events: none; opacity: 1;}
.transtion img{width:100%; height:100%;}
.transtion_center1{width:100%;height:100%; position: absolute; bottom: 0;left: 0;z-index: 11; pointer-events: none;}
.transtion_left{width:100%;height:100%;position: absolute; bottom: 0;left: 0; z-index:12; pointer-events: none;}
.transtion_right{width:100%;height:100%; position: absolute; bottom: 0;left: 0;z-index: 13; pointer-events: none;}
.transtion_text{width:100%;height:100%;font-size:0.28rem;position: absolute; left: 50%;top:50%;transform:translate(-50%,-50%);z-index: 14; pointer-events: none;color:#2381bf;}

/*part1*/
.page01_bg{width:100%;height:10.8rem;background:url(../images/part1_bg.jpg);background-size:100% 100%; }
.part1_masked{width:100%;height:100%;background:rgba(0,0,0,0.2); position: absolute;top:0;left:0; background: rgba(0,0,0,.5); z-index: 1; opacity: 1;-webkit-transition: opacity .5s;transition: opacity .5s}
.page{width:100%;height:100vh;display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-size:20px;background-size:cover;background-position:center;}
.part1_logo1{position: absolute;left:0.43rem;top: 0.26rem;}
.part1_logo1 img{width: 2.03rem;height: auto;}

.part1_age_tip{position: absolute;right:0.36rem;bottom: 0.9rem;}
.part1_age_tip img{width: 0.71rem;height: auto;}
.slo{background: url(../images/part1_sologen.png) no-repeat;width: 7.61rem;height: 3.23rem; background-size:100% 100%;  animation:scaleA 1s .2s ease both;-webkit-animation:scaleA 1s .2s ease both;-ms-animation:scaleA 1s .2s ease both;-moz-animation:scaleA 1s .2s ease both;-o-animation:scaleA 1s .2s ease both;}
.slo a.play{width:1.08rem;height:1.08rem;overflow:hidden;cursor:pointer;position:absolute;top:1.02rem;left:0.3rem;z-index:2;background: url(../images/part1_video_ico_img.png) no-repeat center center;background-size: 100% 100%}
.slo a.play:hover{width:1.08rem;height:1.08rem;overflow:hidden;cursor:pointer;position:absolute;top:1.02rem;left:0.3rem;z-index:2;background: url(../images/part1_video_ico_img.png) no-repeat center center;background-size: 100% 100%}
.play span{display: block;width:1.08rem;height:1.08rem;background: url(../images/part1_video_ico_bg.png) no-repeat center center;background-size: 100% 100%;-webkit-animation:circle 5s infinite linear;}
.part_btn_cbt{position: absolute; left:0rem;top:3.5rem;width:7.61rem;height:1.35rem; z-index:2; -webkit-animation-delay:0.4s; -moz-animation-delay:0.4s;animation-delay:0.4s;}
.part_btn_cbt img{width:7.61rem;height:1.35rem; cursor: pointer;}
.part_content_wrap{width: 7.61rem;margin:0 auto; position: relative;top:-1.8rem;}

/* .part_four_btn{position: absolute; bottom:0rem;z-index:5;background: url(../images/part1_award_bg.png) no-repeat;width: 7.5rem;height: 2.59rem; background-size:100% 100%;padding-top: 0.75rem;
     display: flex; justify-content: center; -webkit-animation-delay:0.7s; -moz-animation-delay:0.7s;animation-delay:0.7s;}
.part_four_btn img{height:1.2rem;width:auto; transition: all 0.3s;} */

.part_dc_main{position: absolute; bottom:0.1rem;z-index:5;   -webkit-animation-delay:0.7s; -moz-animation-delay:0.7s;animation-delay:0.7s;}
.part_dc{z-index:5;background: url(../images/part1_dc_bg.png) no-repeat;width: 11.10rem;height: 2.47rem; background-size:100% 100%; padding-top:0.3rem; display: flex; justify-content: center;}
.part_dc img{height:2.13rem;width:auto; transition: all 0.3s;}

.part1_yy_people{background: url(../images/part1_yy_people_bg.png) no-repeat;width: 4.88rem;height: 0.76rem; background-size:100% 100%; line-height: 0.72rem;
    display: flex; justify-content: center; font-size: 0.24rem;color:#fff;font-style: italic;margin:0 auto}









.shequn{width:0.88rem; position:absolute;right:0.1rem;top:0.3rem; z-index: 1;}

.shequn_bg{background: url(../images/part1_right_top_bg.png) no-repeat;width: 5.3rem;height: 4.19rem; background-size:100% 100%;position:absolute;right:0rem;top:0rem; z-index: 0;}
.shequn img{width: 0.8rem;height:auto;margin-bottom: 0.3rem; cursor: pointer;}
.part1_dy_text{color:#fff;font-size: 0.2rem;text-shadow: 2px 2px 8px #f00; position:absolute;right:1.28rem;top:0.3rem;z-index:1;}
.part1_qq_code{ position:absolute;right:0.9rem;top:0.5rem; z-index:2;}
.part1_wx_code{ position:absolute;right:0.9rem;top:1rem; z-index:2;}
.part1_qq_code img{width:2.17rem;height: 2.17rem;}
.part1_wx_code img{width:2.17rem;height: 2.43rem;}
.part1_logo1{position: absolute;left:0rem;top: 0rem;}

/*part2*/
.part3_fengling,.part5_goddess_chest{background-image:url(../images/part3_bg1.jpg);overflow:hidden;position:absolute;bottom:0;right:0;width:100%;height:100%;margin:0;padding:0;background-position:center center;-moz-background-size:cover;background-size:cover}
.part3_main{width:13.9rem;margin:0 auto;height:9rem}
.part3_left_bless{width:4.8rem;height:5.1rem;background:url(../images/part3_left_bg.png) no-repeat center center;background-size:100% 100%;color:#155bba;text-align:center;font-size:0.16rem;padding:0.8rem 0.7rem;position:absolute;left:0rem;top:2rem}
.line{margin-top:0.1rem}
.gray{margin-top:0.1rem}
.line,.gold,.part3_left_btn{display:flex;justify-content:center}
.part3_left_btn img{width:2.42rem;height:0.81rem;cursor:pointer}
.line img{width:2.66rem;height:0.17rem}
.gold img{width:1.28rem;height:1.22rem}
.part3_left_bless h3{font-size:0.22rem;color:#0a74bd;margin-bottom:0.1rem}
.part3_left_bless p.gray{color:#767563;font-size:0.14rem}
.part3_center_fl{position:absolute;left:3.7rem;top:-0.5rem;overflow:hidden;z-index:2;width:4.94rem;height:9.8rem;transform-origin:top center;-webkit-transform-origin:top center;animation:swing_left_An 2s 0s infinite;-o-animation:swing_left_An 2s 9s infinite;-webkit-animation:swing_left_An 2s 0s infinite;-moz-animation:swing_left_An 2s 0s infinite}
.part3_center_fl img{width:4.94rem;height:9.8rem}
/* transform-origin:top center;animation:bellring 2s ease infinite;transform-origin:top center;animation:ballring 2s ease infinite;animation-delay:.1s */
.part3_tree1{position:absolute;right:-0.9rem;top:-2.1rem;height:4.53rem}
.part3_tree1 img{width:8rem;height:4.53rem}
.part3_tree_top{position:absolute;left:3rem;top:-18%;height:2.43rem}
.part3_tree_top img{width:5.8rem;height:2.43rem}
.part3_right_dc{position:absolute;right:0rem;top:0rem;width:5.7rem;height:8rem;text-align:center}
.part3_right_dc_01{position:absolute;left:0.5rem;top:0.6rem}
.part3_right_dc_03{position:absolute;left:2.3rem;top:1.6rem}
.part3_right_dc_05{position:absolute;right:0rem;top:1.6rem}
.dc_img1{width:1.61rem;height:5.39rem}
.dc_img2{width:1.61rem;height:4.99rem}
.dc_img3{width:1.61rem;height:4.76rem}
.part3_right_dc a img{width:1.61rem;height:0.8rem}
.part3_right_dc_btn{position:absolute;top:6.8rem;left:0.15rem;-webkit-animation:star1 3s linear infinite both;-moz-animation:star1 3s linear infinite both;-ms-animation:star1 3s linear infinite both;animation:star1 3s linear infinite both}
.part3_right_dc_btn img{width:5.4rem;height:1rem;cursor:pointer}
.part3_right_dc_text{position:absolute;top:7.9rem;left:50%;width:5.7rem;font-size:0.16rem;text-align:center;color:#2a77c4;transform:translateX(-50%)}
.part3_tree{position:absolute;top:0;left:0;z-index:8;right:0;bottom:0}
.part3_tree img{width:19.2rem;height:10.8rem;cursor:pointer}
.part3_right_dc_01_btn a{display:block;width:2rem;height:0.6rem;position:absolute;bottom:0.15rem}
 
/*part3*/
.part_box_suspend{position:absolute;right:0rem;-webkit-animation:vrSpan 3s linear infinite 300ms 0 ease;-moz-animation:vrSpan 3s linear infinite 300ms 0 ease;-ms-animation:vrSpan 3s linear infinite 300ms 0 ease;animation:vrSpan 3s linear infinite 300ms 0 ease;-moz-animation:vrSpan 3s linear infinite;-webkit-animation:vrSpan 3s linear infinite;-o-animation:vrSpan 3s linear infinite;-ms-animation:vrSpan 3s linear infinite;animation:vrSpan 3s linear infinite}
.part_box_suspend img{width:3.01rem;height: 2.74rem; cursor: pointer;}
.part_box_title,.part_banner_title{position: absolute;top:0rem;left:50%;transform: translateX(-50%);z-index:3;}
.part_box_title img{height: 1.38rem;width: auto;}
.part_box_subtitle{position: absolute;top:1.38rem;left:50%;transform: translateX(-50%);z-index:3;}
.part_box_subtitle img{width: 5.29rem; height: 0.61rem;}
.inner_banner{z-index:2;position:relative;height:calc(100vh - 1.98rem);top:1.68rem;display:-webkit-box;display:-ms-flexbox;display:flex;align-items:center;justify-content:center;box-sizing:border-box;width:13.8rem;margin:0 auto}
.part_box_goddess_chest{position:absolute;top:1.3rem;left:-2.6rem}
.part_box_goddess_chest img{width:5.23rem;height:auto}
.part_box_rule{position:absolute;top:0.1rem;right:1.5rem;cursor:pointer;}
.part_box_rule img{width:1.82rem;height:auto}
.part_box_top_title span.row::before,.part_box_top_title span.row::after{content:'';width:0.12rem;display:block;height:0.23rem;background:url(../images/part_box_list_row.png);
    background-size:100% 100%;margin-right: 0.1rem;margin-left: 0.1rem;}
.part_box_top_title span::after{transform:rotate(180deg)}
.part_box_top_title span{font-size:0.24rem;height:0.36rem;align-items:center;margin-bottom:0.05rem;display:flex;justify-content:center;color:#9c9162;text-align:center;font-weight:normal}
.part_box_btn{width:11.79rem;text-align:center;margin:0 auto;margin-top:0.1rem;font-size:0.16rem;color:#666;position:absolute;bottom:-0.8rem;display:flex;justify-content:center;cursor: pointer;}
.part_box_btn img{width:3.06rem;height:1.28rem}
.part_box_list{width: 6rem;margin: 0 auto;    padding-top: 1.6rem;}
.part_box_top_title{font-size:0.24rem;color: #fff;line-height:0.5rem;height:0.5rem; display: flex;}
.part_box_list_item{text-align: center;overflow-y: auto;overflow-x: hidden;  overscroll-behavior: contain;width:6.4rem;    height: 3rem;}
.part_box_list_item p{display:flex;width:12rem;}
.part_box_list_item span{line-height:0.5rem; display: inline-block; height:0.5rem; color:#5e7da7; font-size:0.2rem; font-family:'微软雅黑'; }
.part_box_list  .part_box_list_item::-webkit-scrollbar {width:0.1rem; position: relative;}
.part_box_list  .part_box_list_item::-webkit-scrollbar-track {background-color:#a6b9bf;border-radius:2rem;width:0.2rem;}
.part_box_list  .part_box_list_item::-webkit-scrollbar-thumb {background: #2fb1f7;border:1px solid #2fb1f7;width:0.1rem; position: absolute;left:-0.04rem;}
.part_box_list span{ text-align: center;height:0.5rem;}
span.date{width:2rem;}
span.name{width:2rem;}
span.num{width:2rem;}
.part_banner_img{background-image:url(../images/part_banner_bg.jpg);position:absolute;bottom:0;right:0;width:100%;height:100%;margin:0;padding:0;background-position:center center;-moz-background-size:cover;background-size:cover}
.part7_title img{width:5.29rem;height:0.61rem}
.part_box_table{width:11.79rem;height:6.55rem;background:url(../images/part_box_bg.png) no-repeat;background-size:100% 100%;position:relative; background-blend-mode: color-dodge;}
.part7_list{width:6;font-size:0.2rem;height:2.5rem;overflow:hidden;position:absolute;top:0;right:0}



.part_box_main{width:11.79rem;margin:0 auto;position:relative}
#certify{position:relative;width:15rem;margin:0 auto;top:0.4rem}
#certify .swiper-container{height: 6rem;}
#certify  .swiper-slide{width:9rem;height:5.4rem}
#certify  .swiper-slide img{display:block;width:9rem;height:5.4rem}
#certify .swiper-pagination{width:100%;bottom:-0.3rem}
#certify .swiper-pagination-bullets .swiper-pagination-bullet{margin:0 0.2rem;background:url(../images/part_banner_patgition.png) no-repeat;background-size:100% 100%;position:relative;width:0.43rem;height:0.43rem;opacity:1}
#certify .swiper-pagination-bullets .swiper-pagination-bullet::after{content:'';position:absolute;left:0.43rem;top:0;background:url(../images/part_banner_line.png) no-repeat;width:0.39rem;height:0.43rem;display:block}
#certify .swiper-pagination-bullets .swiper-pagination-bullet:last-child::after{content:'';background:none;display:block;width:0.39rem;height:0.43rem}
#certify .swiper-button-prev:after,#certify  .swiper-button-next:after{content:''}
#certify .swiper-pagination-bullets .swiper-pagination-bullet-active{background:url(../images/part_banner_patgition_hover.png) no-repeat;background-size:100% 100%;width:0.43rem;height:0.43rem;opacity:1}
#certify .swiper-button-prev{left:18%;top:40%;width:1.02rem;height:0.92rem;background:url(../images/part_banner_left.png) no-repeat;background-position:0 0;background-size:100% 100%}
#certify .swiper-button-next{right:18%;top:40%;width:1.02rem;height:0.92rem;background:url(../images/part_banner_right.png) no-repeat;background-position:0 0;background-size:100% 100%}

/*css3的效果*/
.part_btn_cbt  img,.part_box_rule img,.part3_right_dc_btn img,.part_box_btn img,.part3_left_btn img,.part_box_suspend img{transition:all 0.5s}

.part_btn_cbt  img:hover,.part_box_rule  img:hover,.part3_right_dc_btn  img:hover,.part_box_btn  img:hover,.part3_left_btn img:hover,.part_box_suspend img:hover{transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);z-index:2}

/*首屏sologen的效果*/
    @keyframes scaleA{0%{opacity:0;-webkit-transform:scale(2,2);}80%{-webkit-transform:scale(.9,.9);}100%{opacity:1;-webkit-transform:scale(1,1);}}
    @-webkit-keyframes scaleA{ 0%{opacity:0;-webkit-transform:scale(2,2);} 80%{-webkit-transform:scale(.9,.9);}100%{opacity:1;-webkit-transform:scale(1,1);}}
    @-ms-keyframes scaleA{ 0%{opacity:0;-ms-transform:scale(2,2);} 80%{-ms-transform:scale(.9,.9);}100%{opacity:1;-ms-transform:scale(1,1);}}
    @-moz-keyframes scaleA{0%{opacity:0;-moz-transform:scale(2,2);}80%{-moz-transform:scale(.9,.9);}100%{opacity:1;-moz-transform:scale(1,1);}}
    @-o-keyframes scaleA{0%{opacity:0;-o-transform:scale(2,2);}}
 
    @-webkit-keyframes circle{0%{ transform:rotate(0deg); }100%{ transform:rotate(360deg); }}
    @keyframes circle{0%{ transform:rotate(0deg); }100%{ transform:rotate(360deg); }}

    /*第二屏幕四个选择图标*/
    @-webkit-keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}@-moz-keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}@-ms-keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}
    @-o-keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}
    @keyframes vrSpan{0%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}
    50%{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px)}
    100%{-webkit-transform:translateY(-15px);-moz-transform:translateY(-15px);-ms-transform:translateY(-15px);-o-transform:translateY(-15px);transform:translateY(-15px)}}
    @-webkit-keyframes leftRight{0%{-webkit-transform:translateX(-5px);-moz-transform:translateX(-5px);-ms-transform:translateX(-5px);-o-transform:translateX(-5px);
    transform:translateX(-5px)}
    50%{-webkit-transform:translateX(0px);-moz-transform:translateX(0px);-ms-transform:translateX(0px);-o-transform:translateX(0px);transform:translateX(0px)}
    100%{-webkit-transform:translateX(5px);-moz-transform:translateX(5px);-ms-transform:translateX(5px);-o-transform:translateX(5px);transform:translateX(5px)}}
        /*第三屏幕铃铛左右动*/
    @-webkit-keyframes swing_left_An{0%,100%{opacity:1;transform:rotate(-8deg);-o-transform:rotate(-8deg);-webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg)}
    50%{opacity:1;transform:rotate(8deg);-o-transform:rotate(8deg);-webkit-transform:rotate(8deg);-moz-transform:rotate(8deg)}
    }@-o-keyframes swing_left_An{0%,100%{opacity:1;transform:rotate(-8deg);-o-transform:rotate(-8deg);-webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg)}
    50%{opacity:1;transform:rotate(8deg);-o-transform:rotate(8deg);-webkit-transform:rotate(8deg);-moz-transform:rotate(8deg)}
    }@keyframes swing_left_An{0%,100%{opacity:1;transform:rotate(-8deg);-o-transform:rotate(-8deg);-webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg)}
    50%{opacity:1;transform:rotate(8deg);-o-transform:rotate(8deg);-webkit-transform:rotate(8deg);-moz-transform:rotate(8deg)}
    }@-moz-keyframes swing_left_An{0%,100%{opacity:1;transform:rotate(-8deg);-o-transform:rotate(-8deg);-webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg)}
    50%{opacity:1;transform:rotate(8deg);-o-transform:rotate(8deg);-webkit-transform:rotate(8deg);-moz-transform:rotate(8deg)}
    }
    /*第三屏幕树叶*/
    section{position:absolute;width:100%;height:100%;overflow:hidden}
    .set{position:absolute;width:100%;height:100%;top:0;left:0}
    .set div{position:absolute;display:block}
    .set div img{width:0.22rem;height:auto}
    .set div:nth-child(1){left:20%;animation:animate 15s linear infinite;-webkit-animation:animate 15s linear infinite}
    .set div:nth-child(2){left:40%;animation:animate 25s linear infinite;-webkit-animation:animate 25s linear infinite}
    .set div:nth-child(3){left:60%;animation:animate 11s linear infinite;-webkit-animation:animate 11s linear infinite}
    .set div:nth-child(4){left:0%;animation:animate 13s linear infinite;-webkit-animation:animate 13s linear infinite}
    .set div:nth-child(5){left:85%;animation:animate 9s linear infinite;-webkit-animation:animate 9s linear infinite}
    .set div:nth-child(6){left:69%;animation:animate 4s linear infinite;-webkit-animation:animate 4s linear infinite}
    .set div:nth-child(7){left:75%;animation:animate 6s linear infinite;-webkit-animation:animate 6s linear infinite}
    .set div:nth-child(8){left:25%;animation:animate 8s linear infinite;-webkit-animation:animate 8s linear infinite}
    @keyframes animate{0%{opacity:0;top:-10%;transform:translateY(-20px)rotate(0deg);-webkit-transform:translateY(-20px)rotate(0deg);-moz-transform:traslateY(-20px)rotate(0deg);-ms-transform:translateY(-20px)rotate(0deg);-o-transform:translateY(-20px)}
    10%{opacity:1}
    20%{transform:translateX(-20px)rotate(45deg);-webkit-transform:translateX(-20px)rotate(45deg);-moz-transform:translateX(-20px)rotate(45deg);-ms-transform:translateX(-20px)rotate(45deg);-o-transform:translateX(-20px)rotate(45deg)}
    40%{transform:translateX(-20px)rotate(90deg);-webkit-transform:translateX(-20px)rotate(90deg);-moz-transform:translateX(-20px)rotate(90deg);-ms-transform:translateX(-20px)rotate(90deg);-o-transform:translateX(-20px)rotate(90deg)}
    60%{transform:translateX(-20px)rotate(135deg);-webkit-transform:translateX(-20px)rotate(135deg);-moz-transform:translateX(-20px)rotate(135deg);-ms-transform:translateX(-20px)rotate(135deg);-o-transform:translateX(-20px)rotate(135deg)}
    80%{transform:translateX(-20px)rotate(180deg);-webkit-transform:translateX(-20px)rotate(180deg);-moz-transform:translateX(-20px)rotate(180deg);-ms-transform:translateX(-20px)rotate(180deg);-o-transform:translateX(-20px)rotate(180deg)}
    100%{transform:translateX(-20px)rotate(225deg);-webkit-transform:translateX(-20px)rotate(225deg);-moz-transform:translateX(-20px)rotate(225deg);-ms-transform:translateX(-20px)rotate(225deg);-o-transform:translateX(-20px)rotate(225deg);top:110%}
    }
    .set2{transform:scale(2)rotateY(180deg);-webkit-transform:scale(2)rotateY(180deg);-moz-transform:scale(2)rotateY(180deg);-ms-transform:scale(2)rotateY(180deg);-o-transform:scale(2)rotateY(180deg);filter:blur(4px);-webkit-filter:blur(4px)}
    h2{color:#ffffff;position:absolute;top:50%;width:100%;text-align:center;font-size:5em;font-family:courier new;transform:translateY(-50px);-webkit-transform:translateY(-50px);-moz-transform:translateY(-50px);-ms-transform:translateY(-50px);-o-transform:translateY(-50px)}
 /*第四屏幕花摇晃*/
    @-webkit-keyframes sec_pic{0%{-webkit-transform:translate3d(0,0,0)}50%{-webkit-transform:translate3d(0,0.08rem,0)}100%{-webkit-transform:translate3d(0,0,0)}}
    @-moz-keyframes sec_pic{0%{-webkit-transform:translate3d(0,0,0)}50%{-webkit-transform:translate3d(0,0.08rem,0)}100%{-webkit-transform:translate3d(0,0,0)}}
    @-ms-keyframes sec_pic{0%{-webkit-transform:translate3d(0,0,0)}50%{-webkit-transform:translate3d(0,0.08rem,0)}100%{-webkit-transform:translate3d(0,0,0)}}
    @-o-keyframes sec_pic{0%{-webkit-transform:translate3d(0,0,0)}50%{-webkit-transform:translate3d(0,0.08rem,0)}100%{-webkit-transform:translate3d(0,0,0)}}
    @keyframes sec_pic{0%{-webkit-transform:translate3d(0,0,0)}50%{-webkit-transform:translate3d(0,0.08rem,0)}100%{-webkit-transform:translate3d(0,0,0)}}

 /*弹窗缩放*/
    .scale-up-center {-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;}
    @-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(0.5);transform:scale(0.5)}
    100%{-webkit-transform:scale(1);transform:scale(1)}
    }@keyframes scale-up-center{0%{-webkit-transform:scale(0.5);transform:scale(0.5)}
    100%{-webkit-transform:scale(1);transform:scale(1)}}
/*视频图标转*/
    @-webkit-keyframes rotate-out-center{0%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}
    100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}
    }@keyframes rotate-out-center{0%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}
    100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}
    }



    .footer_notice_btn img:hover,.part1_btn img:hover, .part3_tc_content img:hover,.register_law_tip_btn  img:hover, .part3_regitster img:hover,.part4_hd_btn img:hover{transform: scale(1.1, 1.1);filter: drop-shadow(0px 0px 0.1rem #000);
        -ms-transform:scale(1.1, 1.1); 	/* IE 9 */
        -moz-transform:scale(1.1, 1.1); 	/* Firefox */
        -webkit-transform:scale(1.1, 1.1); /* Safari å’Œ Chrome */
        -o-transform:scale(1.1, 1.1); 	/* Opera */}



#colorbox, #cboxOverlay, #cboxWrapper{width:11.6rem;height:7.12rem;position:absolute; top:0; left:0; z-index:999999;  -webkit-transform: translate3d(0,0,0);}
#cboxClose{border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:0.6rem; height:0.6rem;  position:fixed;    top: 0.4rem;
    right: -0.6rem;
    background: url(../images/part1_video_closed.png) no-repeat 0 0;background-size: 100% 100%;}

.inner{z-index:2;position:relative;height:calc(100vh);display:-webkit-box;display:-ms-flexbox;display:flex;align-items:center;justify-content:center;box-sizing:border-box;width: 13.8rem;margin:0 auto;}
.inner_first .content,.inner .content{position:relative;display:flex;align-items:center;flex-direction:column} 
.inner_first{z-index:2;position:relative;height:calc(100vh);display:-webkit-box;display:-ms-flexbox;display:flex;align-items:center;justify-content:center;box-sizing:border-box;
    width: 12rem;margin:0 auto;}

    .part2_title,.part3_title,.part4_title,.part_box_title,.part_banner_title{position: absolute;top:0rem;left:50%;transform: translateX(-50%);z-index:3;}
    .part2_title img,.part3_title img,.part4_title img,.part_banner_title img{width: 6.76rem;height: 1.38rem;}
    .tc_goddess_btn{display: flex; justify-content: center;}
    .tc_goddess_btn img{width: 2.06rem;height: 0.78rem;}

    .flower{-webkit-animation:sec_pic 3s linear infinite;-moz-animation:sec_pic 3s linear infinite;-ms-animation:sec_pic 3s linear infinite;-o-animation:sec_pic 3s linear infinite;animation:sec_pic 3 linear infinite}
    .first,.two,.three{top:50%;}

    .four{top:20%;}